name: test
on: push
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: "14.x"

    - name: Install modules
      run: yarn

    - name: Run lint
      run: yarn lint

    - name: Run tests
      run: yarn test --ci
